@use '~styles/base/general.scss' as *;

.brand-card {
    display: flex;
    flex-direction: column;
    width: 200px;

    text-decoration: none;

    background-color: $bg-card;
    border: solid 1px $clr-gray-300;
    border-radius: 8px;
    box-shadow: 2px 2px 4px $sh-card;
    overflow: hidden;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        border: solid 1px $clr-gray-800;
    }

    &__brand-img {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: $bg-card;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .brand-placeholder {
            position: absolute;
            inset: 0;
            background-color: $clr-gray-300;
            z-index: 1;
        }

        img {
            width: 85%;
            height: 85%;

            object-fit: contain;
            background-color: white;
            border-radius: 4px;

            position: relative;
            z-index: 2;
            transition: opacity 0.4s ease-in-out;
        }

        .shimmer {
            @include shimmer-effect;
            z-index: 3;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 14px;

        border-top: solid 1px $clr-gray-300;

        &__name {
            font-size: $fs-sm;
            line-height: 1;
        }

        &__count {
            font-size: $fs-sm;
            margin: 1px 0;
        }
    }
}

.brand-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: $clr-gray-300;
    overflow: hidden;

    .brand-placeholder {
        position: absolute;
        inset: 0;
        background-color: $clr-gray-300;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.4s ease-in-out;

        &.loading {
            opacity: 0;
        }

        &.loaded {
            opacity: 1;
        }
    }

    .shimmer {
        @include shimmer-effect;
    }
}