@use '~styles/base/general.scss' as *;

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: $fs-sm;

    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 1800px;
    width: 100%;
    overflow: hidden;

    @media (min-width: $bp-lg) {
        justify-content: start;
        padding: 0;
    }

    a,
    &__current {
        display: inline-block;
        min-width: 0;
        flex-shrink: 1;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }


    a {
        flex-shrink: 0;

        text-decoration: none;
        color: $txt-muted;
        transition: color 0.1s;

        &:hover {
            color: $txt-black;
            text-decoration: underline;
        }
    }

    &__separator {
        color: $txt-light;
        flex-shrink: 0;
    }

    &__current {
        color: $txt-black;
        font-weight: 400;
    }
}