@use '~styles/base/general.scss' as *;

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: $fs-sm;

    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 1800px;

    @media (min-width: $bp-lg) {
        justify-content: start;
    }

    a {
        text-decoration: none;
        color: $txt-muted;
        transition: color 0.1s;

        &:hover {
            color: $txt-black;
            text-decoration: underline;
        }
    }

    &__separator {
        color: $txt-light;
    }

    &__current {
        color: $txt-black;
        font-weight: 400;
    }
}