@use '~styles/base/general.scss' as *;

.nav-button {
  cursor: pointer;

  display: inline-block;
  text-decoration: none;
  line-height: 1.3;

  background-color: transparent;
  border: solid 1px transparent;
  border-radius: $rad-sm;

  padding: 6px 14px 2px 14px;
  margin: 5px;

  transition: all 0.1s ease-in-out;

  &:hover,
  &--active {
    background-color: $clr-white;
    border: solid 1px $clr-white;
    border-radius: $rad-sm;

    p {
      color: $txt-black;
    }
  }

  &__title {
    font-family: $ff-title;
    font-size: $fs-nav;
    font-weight: 400;
    text-align: center;

    margin: 0;
  }
}