@use '~styles/base/general.scss' as *;

.nav-button {
  cursor: pointer;

  display: inline-block;
  text-decoration: none;

  color: $txt-black;
  background-color: $clr-white;
  border: solid 1px $clr-black;
  border-radius: $rad-sm;

  padding: 7px 14px 3px 14px;
  margin: 5px;

  transition: all 0.1s ease-in-out;

  &:hover,
  &--active {
    color: $txt-white;
    background-color: $clr-black;
    border: solid 1px $clr-white;
  }

  &__title {
    font-family: $ff-title;
    font-size: $fs-nav;
    font-weight: 400;
    text-align: center;

    margin: 0;
  }
}