@use '~styles/base/general.scss' as *;

.product-card {
    display: flex;
    flex-direction: column;
    width: 200px;

    text-decoration: none;

    background-color: $bg-card;
    border: solid 1px $clr-gray-300;
    border-radius: 8px;
    box-shadow: 2px 2px 4px $sh-card;
    overflow: hidden;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        border: solid 1px $clr-gray-800;
    }

    &__product-img {
        position: relative;
        padding-top: 14px;

        background-color: $clr-white;
        overflow: hidden;

        .product-placeholder {
            position: absolute;
            inset: 0;

            background-color: $clr-gray-300;
        }

        img {
            display: block;
            object-fit: contain;
            justify-self: center;

            width: 174px;
            height: auto;
            aspect-ratio: 3 / 4;

            margin: 0 auto;
            border-radius: 4px;
            display: block;

            transition: all 0.1s ease-in-out;

            &.loading {
                opacity: 0;
            }

            &.loaded {
                opacity: 1;
            }
        }

        .shimmer {
            @include shimmer-effect;
        }
    }

    &__info {
        padding: 8px 14px;

        &__top {
            &__brand-name {
                font-size: $fs-sm;
                font-weight: $fw-semibold;
            }

            &__product-name {
                font-size: $fs-sm;
                margin: 2px 0;
            }

            &__volume {
                font-size: $fs-sm;
                color: $clr-gray-600;
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;

            &__volume {
                font-size: $fs-sm;
            }

            &__country-tag {
                font-size: $fs-sm;
                margin-right: 2px;

                // background: rgba(0, 0, 0, 0.05);
                // display: inline-block;
                // padding: 2px 4px;
            }
        }
    }

    &.small {
        width: 130px;

        @media (min-width: $bp-md) {
            width: 150px;
        }

        .product-card {
            box-shadow: 1px 1px 2px $sh-card;
        }

        .product-card__product-img {
            padding-top: 10px;

            img {
                width: 111px;
                height: auto;
                aspect-ratio: 3 / 4;

                @media (min-width: $bp-md) {
                    width: 132px;
                }
            }
        }

        .product-card__info {
            padding: 6px 10px;

            product-card__info__top__brand-name,
            .product-card__info__top__product-name,
            .product-card__info__bottom__volume,
            .product-card__info__bottom__country-tag {
                font-size: $fs-xs;
            }

            .product-card__info__top__product-name {
                margin: 1px 0;
            }
        }
    }
}