@use '~styles/base/general.scss' as *;

.skeleton {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    position: relative;
    overflow: hidden;

    transition: all 0.1s ease-in-out;

    .shimmer {
        @include shimmer-effect;
        z-index: 1;
    }

    &.empty {
        opacity: 0.6;

        .shimmer {
            display: none;
        }
    }

    .image-box,
    .text-line-short,
    .text-line-long {
        background-color: $clr-gray-300;
    }

    .text-line-short,
    .text-line-long {
        height: 12px;
        border-radius: 4px;
    }

    &.product,
    &.brand {
        width: 200px;

        background-color: $bg-card;
        box-shadow: 2px 2px 4px $sh-card;
        border: solid 1px $clr-gray-300;
        border-radius: 8px;

        .text-line-short,
        .text-line-long {
            margin: 8px 14px 0;
        }
    }

    &.product {
        .image-box {
            width: 175px;
            height: auto;
            aspect-ratio: 3 / 4;

            margin: 14px auto 4px;
            border-radius: 4px;
        }

        &.small {
            width: 150px;

            .image-box {
                width: 110px;
                height: auto;
                aspect-ratio: 3 / 4;

                @media (min-width: $bp-md) {
                    width: 130px;
                }
            }
        }
    }

    &.brand {
        .image-box {
            width: 100%;
            aspect-ratio: 1 / 1;
        }

        .text-line-short {
            margin: 15px 14px;
        }

        .text-line-long {
            display: none;
        }
    }

    &.profile {
        align-items: center;
        width: 160px;
        margin-top: 10px;

        background: transparent;
        box-shadow: none;
        border: none;

        .image-box {
            width: 110px;
            height: 110px;
            margin-bottom: 8px;

            border: 2px solid $clr-gray-100;
            border-radius: 50%;
        }

        .text-line-short,
        .text-line-long {
            width: 80px;
            margin: 4px 0;
        }

        .text-line-short {
            width: 50px;
        }
    }
}