@use '~styles/base/general.scss' as *;

.skeleton {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    transition: all 0.1s ease-in-out;

    .shimmer {
        @include shimmer-effect;
        z-index: 1;
    }

    &.empty {
        opacity: 0.6;

        .shimmer {
            display: none;
        }
    }

    .image-box,
    .text-line-short,
    .text-line-long {
        background-color: $clr-gray-300;
    }

    .text-line-short,
    .text-line-long {
        height: 12px;
        border-radius: 4px;
    }

    &.product,
    &.brand {
        width: 200px;
        background-color: $bg-card;
        border: solid 1px $clr-gray-300;
        border-radius: 8px;
        box-shadow: 2px 2px 4px $sh-card;
        padding-bottom: 12px;

        .text-line-short,
        .text-line-long {
            margin: 8px 14px 0;
        }
    }

    &.product {
        .image-box {
            width: 175px;
            height: 230px;
            margin: 14px auto 4px;
            border-radius: 4px;
        }

        &.small {
            width: 150px;

            .image-box {
                width: 130px;
                height: 170px;
            }
        }
    }

    &.brand {
        .image-box {
            width: 100%;
            aspect-ratio: 1 / 1;
            margin-bottom: 8px;
        }

        .text-line-short {
            margin-top: 14px;
        }
    }

    &.profile {
        width: 160px;
        align-items: center;
        background: transparent;
        border: none;
        box-shadow: none;

        .image-box {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 8px;
            border: 2px solid $clr-gray-100;
        }

        .text-line-short,
        .text-line-long {
            width: 80px;
            margin: 4px 0;
        }

        .text-line-short {
            width: 50px;
        }
    }
}