@use '~styles/base/general.scss' as *;

.sort-btn {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    margin: 0 2px;

    font-size: $fs-xs;
    color: $txt-black;

    background-color: $bg-card;
    border: 1px solid $clr-gray-300;
    border-radius: $rad-sm;

    cursor: pointer;
    transition: all 0.2s;

    @media (min-width: $bp-sm) {
        margin: 0 3px;
    }

    @media (min-width: $bp-md) {
        margin: 0 4px;
    }

    @media (min-width: $bp-lg) {
        margin: 0 5px;
    }

    &.active {
        background: $clr-gray-800;
        color: $txt-white;
        border-color: $clr-gray-800;
    }

    .icon {
        font-family: monospace;
        min-width: 12px;
    }
}