.navbar {
  background-color: #cdcdcd;

  &__container {
    display: flex;

    &__logo {
      width: 35px;
    }
  }
}

.button {
  cursor: pointer;

  color: #000;

  padding: 9px 19px 9px 19px;
  margin: 0px 11px;

  transition: all 0.1s ease-in-out;

  &:hover,
  &--active {
    color: #fff;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
}