@use '../base/general' as *;

.catalogue-container {
  margin: 0 auto;
  padding: 30px 24px;
  max-width: 1400px;

  @media (min-width: $bp-sm) {
    padding: 30px 40px 20px 40px;
  }

  @media (min-width: $bp-md) {
    padding: 30px 80px 40px 80px;
  }

  @media (min-width: $bp-lg) {
    padding: 30px 120px 50px 120px;

    min-height: calc(100vh - 93px);
  }
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.index {
  &__header {
    margin-bottom: 0.5rem;
  }

  &__alphabet {
    display: block;
    column-gap: 90px;
    margin: 0 auto;
    padding: 8px;

    // mobile
    column-count: 1;

    // tablet
    @media (min-width: $bp-sm) {
      column-count: 2;
    }

    @media (min-width: $bp-lg) {
      column-count: 3;
      column-gap: 120px;
    }

    // desktop
    @media (min-width: $bp-xl) {
      column-count: 4;
    }
  }

  &__section {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 2rem;
    border-radius: 8px;
  }

  &__letter-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    padding-bottom: 0.25rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &__item {
      font-size: $fs-base;
      margin: 0 4px;

      a {
        text-decoration: none;
        color: $clr-gray-800;
        display: flex;
        gap: 5px;

        @media (min-width: $bp-md) {
          justify-content: space-between;
        }

        &:hover {
          color: var(--primary-color, $clr-blue);
          text-decoration: underline;
        }

        &__name {
          font-size: $fs-base;
        }

        &__count {
          font-size: $fs-sm;
          margin-left: 40px;
        }
      }
    }
  }

  &__empty {
    font-style: italic;
    color: #bbb;
    font-size: 0.85rem;
    margin: 0 4px;
  }
}