@use '../base/general' as *;

.catalogue-container {
  margin: 0 24px;
  padding: 30px 0;

  @media (min-width: $bp-sm) {
    margin: 20px 40px;
  }

  @media (min-width: $bp-md) {
    margin: 20px 60px;
  }


  @media (min-width: $bp-lg) {
    margin: 20px 120px;
  }
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.index {
  &__header {
    margin-bottom: 0.5rem;
  }

  &__alphabet {
    display: block;
    column-gap: 2rem;
    width: 87vw;
    margin: 0 auto;

    // Mobile
    column-count: 1;

    // Tablet
    @media (min-width: $bp-sm) {
      column-count: 2;
    }

    @media (min-width: $bp-md) {
      column-count: 3;
    }

    // Desktop
    @media (min-width: $bp-lg) {
      column-count: 4;
    }
  }

  &__section {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 2rem;
    border-radius: 8px;
  }

  &__letter-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid $clr-gray-100;
    padding-bottom: 0.25rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &__item {
      font-size: $fs-base;
      margin: 0 10px;

      a {
        text-decoration: none;
        color: $clr-gray-800;
        display: flex;
        gap: 5px;

        @media (min-width: $bp-md) {
          justify-content: space-between;
        }

        &:hover {
          color: var(--primary-color, $clr-blue);
          text-decoration: underline;
        }

        &__name {
          font-size: $fs-base;
        }

        &__count {
          font-size: $fs-sm;
          margin-left: 40px;
        }
      }
    }
  }

  &__empty {
    font-style: italic;
    color: #bbb;
    font-size: 0.85rem;
    margin: 0;
    margin: 0 10px;
  }
}