@use '../base/general' as *;

.home-container {
  margin: 0 auto;
  padding: 0 24px;
  padding-bottom: 32px;
  max-width: 1400px;

  @media (min-width: $bp-sm) {
    padding: 0 40px;
    padding-bottom: 38px;
  }

  @media (min-width: $bp-md) {
    padding: 0 80px;
    padding-bottom: 46px;
  }

  @media (min-width: $bp-lg) {
    padding: 0 120px;
    padding-bottom: 52px;

    min-height: calc(100vh - 148px);
  }
}

.hero {
  &__text {
    text-align: center;
    margin: 35px 0 20px 0;

    &__title {
      font-family: $ff-title;
      font-size: $fs-2xl;
    }

    &__subtitle {
      font-family: $ff-title;
      font-size: $fs-md;
    }

    &__description {
      font-size: $fs-base;
    }
  }

  @media (min-width: $bp-md) {
    &__text {
      margin: 45px 0 30px 0;

      &__title {
        font-size: $fs-3xl;
      }

      &__subtitle {
        font-size: $fs-lg;
      }

      &__description {
        font-size: $fs-md;
      }
    }
  }

  @media (min-width: $bp-lg) {
    &__text {
      margin: 55px 0 40px 0;

      &__title {
        font-size: $fs-4xl;
      }

      &__subtitle {
        font-size: $fs-2xl;
      }

      &__description {
        font-size: $fs-lg;
      }
    }
  }

  &__banner {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 10px;

    height: 240px;
    object-fit: cover;
    object-position: center;

    box-shadow: inset 0px 0px 15px $clr-black;

    @media (min-width: $bp-sm) {
      height: 300px;
    }

    @media (min-width: $bp-md) {
      height: 360px;
    }

    @media (min-width: $bp-lg) {
      height: 420px;
    }
  }
}

.released,
.added,
.profiles {
  margin: 20px 0;
}