@use '../base/general' as *;

.home-container {
  margin: 0 24px;

  @media (min-width: $bp-sm) {
    margin: 0 40px;
  }

  @media (min-width: $bp-md) {
    margin: 0 60px;
  }

  @media (min-width: $bp-lg) {
    margin: 0 120px;
  }
}

.hero {

  &__text {
    text-align: center;
    margin: 15px 0;

    &__title {
      font-family: $ff-title;
      font-size: $fs-2xl;
    }

    &__subtitle {
      font-family: $ff-title;
      font-size: $fs-md;
    }

    &__description {
      font-size: $fs-base;
    }
  }

  @media (min-width: $bp-md) {
    &__text {
      margin: 20px 0;
    }
  }

  @media (min-width: $bp-lg) {
    &__text {
      margin: 30px 0;

      &__title {
        font-size: $fs-3xl;
      }

      &__subtitle {
        font-size: $fs-lg;
      }

      &__description {
        font-size: $fs-md;
      }
    }
  }

  &__banner {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 10px;

    height: 200px;
    object-fit: cover;
    object-position: center;

    box-shadow: inset 0px 0px 15px $clr-black;

    @media (min-width: $bp-md) {
      height: 360px;
    }
  }
}

.released,
.added,
.profiles {
  margin: 20px 0;
}