@use '../base/general' as *;

.product-container {}

.product-wrap {

  &__left {

    &__images {

      &__preview {}

      &__selection {}
    }
  }

  &__right {

    &__title {}

    &__info {

      &__basic {}

      &__ingredients {}

      &__warning {}

      &__nutrition {}
    }
  }
}

.manu-badge {
  position: relative;

  img {
    width: 40px;
    height: 40px;
  }

  .hover-name {
    display: none;
    position: absolute;
    bottom: 100%;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    white-space: nowrap;
  }

  &:hover .hover-name {
    display: block;
  }
}